@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans+SC:wght@300&family=Fugaz+One&display=swap');

@keyframes blink {
  0% {
    background: #151818;
  }
  25% {
    background: #6e3a9e;
  }
  50% {
    background: #f28f1c;
  }
  75% {
    background: #52ac00;
  }
  90% {
    background: #313131;
  } 
  100% {
    background: #151818;
  }
}

body {
  height: 100%;
}

#mummy__main {
  padding-top: 1.5625rem;
  background-image: url(https://wallpaperaccess.com/full/1454449.jpg); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #6e3a9e;
  background-blend-mode: darken;
}

.mummy__content {
    text-align: center;
}

.mummy--main__img {
  height:30rem;
  width: 50rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0.3125rem dotted #52ac00;
  border-radius: 1.25rem;
}

.mummy__header2 {
  display: inline-block;
  font-family: 'Creepster', cursive;
  font-size: 7rem;
  background: rgb(108,57,156);
  background: linear-gradient(90deg, rgba(108,57,156,1) 0%, rgba(108,57,156,1) 23%, rgba(242,143,28,1) 50%, rgba(82,172,0,1) 75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-block-start: .25em;
  margin-block-end: .50em;
  -webkit-text-stroke-width: 0.06rem;
    -webkit-text-stroke-color: black;
}

.mummy__sections {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.mummy--origin , 
.mummy--movie , 
.mummy--costume {
  border: 	0.25rem solid #52ac00;
  background-color: black;
  margin-bottom: 0.625rem;
  width: 25rem;
  padding-bottom: 1rem;
  text-align: center;
  animation: blink 20s infinite;
  -webkit-animation: blink 20s infinite;
  border-radius: 1.25rem;
}

.mummy--origin__img , 
.mummy--movie__img , 
.mummy--costume__img {
  height: 12.5rem;
  width: 18.75rem;
  margin-top: 0.625rem;
}

.mummy--origin__header3 , 
.mummy--movie__header3 , 
.mummy--costume__header3 {
  font-family: 'Creepster', cursive;
  font-size: 3rem;
  color: #f28f1c;
  margin-block-start: 0.1em;
  margin-block-end: 0.1em;
  -webkit-text-stroke-width: 0.063rem;
    -webkit-text-stroke-color: black;
}

.mummy--origin__p , 
.mummy--movie__p , 
.mummy--costume__p {
  color: white;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: larger;
  margin: 0.625rem 0.313rem 0.313rem 0.313rem;
  height: 12rem;
}

.mummy--origin__button , 
.mummy--movie__button , 
.mummy--costume__button {
  font-family: 'Creepster', cursive;
  background-color: #6e3a9e;
  color: white;
  font-size: 2em;
  padding: 0.625rem;
  margin-top: 0.625rem;
  border: 0.125rem solid white;
  border-radius: 0.5rem;
  transition-duration: 0.4s;
  display:inline-flex;
}

.mummy--origin__button:hover , 
.mummy--movie__button:hover , 
.mummy--costume__button:hover {
  background-color: #52ac00; /* Green */
  color: white;
}

.mummy--movie__p span {
  display: block;
  margin: 0.75rem 0;

}