body {
    background-image:url('https://www.costumet.com/images/movies/blade/costume-guide.jpg'); 
    background-repeat: repeat;
}
h1 {
    color:red;
    margin-top: 30px;
    font-size:85px;
    text-align: center;
}

#enzyme{
    color: yellow;
}
.vampire_origin_article {
display:flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;
}

.vampire_origin_div {
    background-color: black;
    border: 1px solid red;
    text-align:center;
    width:400px;
    height:600px;
    overflow:hidden;
    margin:auto;
}

p {
    color:white;
    font-size: 30px;
}
