body {
    background-image:url('https://media.giphy.com/media/3oEduINSSc30FSZn3i/giphy.gif'); 
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    color:red;
    text-align: center;
    font-size: 100px;
    margin-top: 100px;
}

h2 {
    font-size: 50px;
}

p{
    font-size: 30px;
}
.vampire_content {
    display:flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    order: 1,2,3;
}

 div {
    border: 1px solid red;
    text-align:center;
    padding: 150px;
    border-radius: 300px;
    margin-top: 100px;
    background-color:rgb(255,0,0);opacity:0.6;
    text-size-adjust: none;

}

