@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');

/* WHOLE PAGE */
body {
    background-color: black;
}
/* HEADINGS */
h2 {
    color:#f28f1c;
    font-family: 'Creepster', cursive;
    font-size: 72pt;
    text-align: center;
    text-shadow: .5px .5px white;
}

h3 {
    color: #f28f1c;
    font-size: 20pt;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif
}

/* IMAGES */
.mainimage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    padding-top: 20px;
    padding-bottom: 50px;
}

.teenwolf {
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    float: right;
}

.costume {
    border: 2px solid  #f28f1c;
    width: 200px;
}

/* TEXT */
p { 
    color: white;
    font-size: 16pt;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif
}

strong {
    color: #f28f1c;
}

/* LAYOUT */
.layoutWidth {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.costumes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}
