* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

.zombie-header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
    background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(../images/zombiePage/zombieHorde.jpg);
    background-size: contain;
}

.zombie-h1 {
    color: #F28F1C;
    font-family: 'Creepster', cursive;
    font-size: 90pt;
}

.zombie-h1-quotes {
    font-size: 1.5rem;
}

.zombie-author {
    margin-left: 300px;
}

.zombie-h1-quotes{
    font-family: 'Roboto', cursive;
    font-weight: 300;
    font-size: 27px;
}

.zombie-container {
    /* height: 100vh; */
}

.zombie-origin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
}

.origin-header {
    margin-top: 150px;
    font-family: 'Creepster', cursive;
    font-size: 3rem;
    color: #6e3a9e;
    letter-spacing: 2px;
    text-shadow: 0 0 7px #fff, 
    0 0 1px #fff, 
    0 0 1px #fff, 
    0 0 1px #0fa, 
    0 0 7px #0fa, 
    0 0 9px #0fa, 
    0 0 10px #0fa, 
    0 0 12px #0fa;
}

.origin-p-group {
    margin: 50px 0 150px 0px;
}
.origin-paragraph {
    width: 740px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    letter-spacing: 1px;
}

.p1 {
    margin: 0 0 25px 0;
}


.origin-link {
    color: blue;
    font-family: 'Roboto', cursive;
    text-shadow: none;
    font-size: 15px;
    text-decoration: underline;
    margin-top: 5px;
}