@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:wght@400;800;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-color: #000;
}

.zombie-header {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 150px 0;
    background: linear-gradient(0deg, rgba(255, 0, 150, 0.3), rgba(255, 0, 150, 0.3)), url(../images/zombiePage/zombieHorde.jpg);
    background-size: contain;
}

.zombie-h1 {
    color: #F28F1C;
    font-family: 'Creepster', cursive;
    font-size: 90pt;
}

.zombie-h1-quotes {
    font-size: 1.5rem;
}

.zombie-author {
    margin-left: 300px;
}

.zombie-h1-quotes{
    font-family: 'Roboto', cursive;
    font-weight: 300;
    font-size: 27px;
}

.zombie-origin {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: black;
}

.origin-special {
    font-family: 'Alegreya SC', serif;
    font-weight: 900;
    font-size: 2.5rem;
    letter-spacing: -2px;
    word-spacing: -3px;
    text-shadow: none;
}

.origin-header {
    margin-top: 150px;
    font-family: 'Creepster', cursive;
    font-size: 4rem;
    color: #6e3a9e;
    letter-spacing: 2px;
    text-align: center;
    text-shadow: 0 0 7px #fff, 
    0 0 1px #fff, 
    0 0 1px #fff, 
    0 0 1px #0fa, 
    0 0 7px #0fa, 
    0 0 9px #0fa, 
    0 0 10px #0fa, 
    0 0 12px #0fa;
}

.origin-p-group {
    margin: 50px 0 150px 0px;
}
.origin-paragraph {
    width: 740px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    letter-spacing: 1px;
}

.p1 {
    margin: 0 0 25px 0;
}


.origin-link {
    color: blue;
    font-family: 'Roboto', cursive;
    font-weight: 200;
    text-shadow: none;
    font-size: 15px;
    text-decoration: underline;
    margin-top: 5px;
}

/* Favorite Film Section */
.film-header {
    text-align: center;
    margin: 150px 0 80px 0;
    font-family: 'Creepster', cursive;
    font-size: 4rem;
    color: #F28F1C;
    letter-spacing: 1.3;
}

.favorite-film {
    display: flex;
    margin: 0 50px 115px 50px;
}

.film-info {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0 50px;
}

.film-title h3, .film-release h3, .film-description h3 {
    font-family: 'Creepster', cursive;
    margin-bottom: 10px;
    color: #F28F1C;
    font-size: 1.5rem;
    letter-spacing: 1.3px
}

.film-release {
    align-self: center;
    position: absolute;
}

.film-bio {
    margin-top: 25px;
}

.film-description {
    height: 500px;
    margin-top: 150px;
}

.film-description p, .film-title p, .film-release p {
    font-size: 1.1rem;
    letter-spacing: .5px;
    word-spacing: 2px;
    line-height: 1.5rem;
}

.filler-div {
    background-color: white;
    height: 300px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,000000+26,000000+35,6e3a9e+68,6e3a9e+68,6e3a9e+83,6e3a9e+83,6e3a9e+100&0+0,0.65+100 */
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.17) 26%, rgba(0,0,0,0.23) 35%, rgba(110,58,158,0.44) 68%, rgba(110,58,158,0.54) 83%, rgba(110,58,158,0.65) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.17) 26%,rgba(0,0,0,0.23) 35%,rgba(110,58,158,0.44) 68%,rgba(110,58,158,0.54) 83%,rgba(110,58,158,0.65) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.17) 26%,rgba(0,0,0,0.23) 35%,rgba(110,58,158,0.44) 68%,rgba(110,58,158,0.54) 83%,rgba(110,58,158,0.65) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a66e3a9e',GradientType=0 ); /* IE6-9 */

}
/* Honorable-mention */
/* .honor-img {
    background-color: #fff;
    color: #ffffff;
    font-size: 16px;
    margin: 10px;
    max-width: 315px;
    min-width: 230px;
    overflow: hidden;
    position: relative;
    text-align: left;
    width: 100%;
    transform: translateZ(0);
} */

.honorable-header {
    text-align: center;
    font-size: 4rem;
    font-family: 'Creepster';
    color: #F28F1C;
    padding: 150px 0 25px 0;
}

.honorable-mention {
    display: flex;
    justify-content: space-evenly;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#000000+0,6e3a9e+7&0+0,0.65+100 */
    background: rgba(110,58,158,0.65);
    padding: 50px 0;
}

.honorable-mention img {
    width: 200px;
    height: 275px;
    transition: .6s ease;
}

.honorable-mention img:hover {
    transform: scale(1.2);
    transition: .6s ease;
}

.honorable-mention figcaption {
    font-size: 1.5rem;
    font-family: 'Creepster';
    text-align: center;
    letter-spacing: 1px;
    margin-bottom: 55px;
}